docs/latex/build
.metadata/
.project
.settings/
.vscode/
CMakeCache.txt
CMakeCache.txt.BAK
CMakeFiles/
CMakeLists.txt
CMakeLists.txt.bak
FreeRTOS/
Makefile
NauteffAutoPilot.ld
bin/
binNauteffAutoPilot.map
build/
charge
cmake_install.cmake
comp
compile_commands.json
mk
nauteff.map
