# Fichiers intermédiaires produits par latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.lof
*.log
*.lot
*.synctex.gz
*.out
*.run.xml
*.toc
eps-converted-to.pdf # eps to pdf used by pdflatex
*.alt
*.bak
.vscode
build/*
NauteffAutoPilot.geany
aux
bin
lib
lib64
pyvenv.cfg
.cproject
.project
.settings
